body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  
}

/* nav styles */
.navbar {
  background-color: rgba(255, 255, 255, 0.686);
  transition: background-color 0.3s ease-in-out;
}

/*------------*/
.mainContainer {
  width: 100%;
  height: 100%;
}

.main-section{
  width: 100%;
  background-color: #e7f2ff;
}


.main-section h1 {
  font-size: 60px;
  color: #143c70;
}

.main-img {
  width: 95%;
  border-radius: 18px;
  object-fit: cover;
  object-position: center;
}

.gif1{
  margin-top: 75px;
}

.main-content {
  color: #ffddaa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mainHeading1 {
  font-size: 70px;
}

.heading {
  font-family: "Kaushan Script";
}

.orange-text {
  color: #a28150;
}

.mainHeading {
  font-size: 55px;
  margin-top: 30px;
}

.subHeading {
  font-size: 55px;
  margin-top: 30px;
}

.content-section {
  width: 100%;
  height: 100%;
  text-align: justify;
  background-color: #e7f2ff;
}

.mainHeading2 {
  color: #143c70;
}

.img {
  width: 100%;
}