* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;

}

body {
  overflow-x: hidden;
}

.service ul li {
  list-style-type: none;
}

.service ul li a {
  text-decoration: none;
  color: white;

}

.navbar {

  background-color: rgba(0, 0, 0, 0.766) !important;
  transition: background-color 0.3s ease-in-out;
  z-index: 0;
}

.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.carousel-item video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.carousel-caption h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px cyan;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  text-align: center;
}

.carousel-caption h2 {
  font-size: 3rem;
  font-weight: bold;
}

.carousel-caption h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.carousel-item.active .carousel-caption {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconamoon--search-light {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'/%3E%3C/svg%3E");
}

.codex--linkedin {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Crect width='14' height='14' x='5' y='5' rx='4'/%3E%3Cpath stroke-linecap='round' d='M9 11.4v4m0-6.7v.01m3 2.69v.6m0 3.4V12m0 0c2-.5 3-.639 3 .5v2.9'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ph--youtube-logo-light {
  display: inline-block;
  width: 256px;
  height: 256px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m163.33 123l-48-32a6 6 0 0 0-9.33 5v64a6 6 0 0 0 9.33 5l48-32a6 6 0 0 0 0-10M118 148.79v-41.58L149.18 128ZM232.4 70a22 22 0 0 0-13.28-15C185 41.79 130.27 42 128 42s-57-.21-91.16 13A22 22 0 0 0 23.6 70c-2.55 9.89-5.6 28-5.6 58s3.05 48.11 5.6 58a22 22 0 0 0 13.28 15C71 214.21 125.72 214 128 214h.71c6.91 0 58-.44 90.45-13a22 22 0 0 0 13.28-15c2.55-9.87 5.6-27.93 5.6-58S235 79.89 232.4 70m-11.62 113a10 10 0 0 1-6 6.86c-32 12.33-86.2 12.14-86.78 12.14s-54.71.2-86.75-12.17a10 10 0 0 1-6-6.86C32.84 173.78 30 156.78 30 128s2.84-45.78 5.22-55a10 10 0 0 1 6-6.86C72.06 54.26 123.53 54 127.76 54h.24c.54 0 54.71-.2 86.75 12.17a10 10 0 0 1 6 6.86c2.38 9.19 5.22 26.19 5.22 55s-2.81 45.75-5.19 54.97'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mingcute--twitter-line {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M17.817 6.989c-.353-.508-1.297-1.222-2.826-.914c-.892.179-1.425.62-1.764 1.202c-.361.62-.536 1.463-.536 2.444a1 1 0 0 1-1 1c-2.366 0-4.618-.703-6.513-2.604a10.5 10.5 0 0 0-.168 2.34c.053 1.086.312 2.175.927 3.108c.605.917 1.6 1.757 3.264 2.285a1 1 0 0 1 .41 1.655a8.5 8.5 0 0 1-1.796 1.405c1.06.11 2.082.118 3.03.032c1.92-.174 3.449-.723 4.405-1.5c2.013-1.632 3.09-4.066 2.89-8.144c-.034-.67.613-1.393.925-1.942c-.471.088-.943.072-1.248-.367M4.594 4.984a1 1 0 0 1 .941.429C7.011 7.572 8.783 8.47 10.75 8.674c.096-.841.323-1.672.75-2.404c.626-1.074 1.644-1.864 3.098-2.156c2.01-.404 3.54.324 4.427 1.215l1.792-.335a1 1 0 0 1 1.053 1.478l-1.72 3.022c.157 4.361-1.055 7.405-3.639 9.502c-1.37 1.112-3.332 1.743-5.485 1.938c-2.17.196-4.623-.041-7.061-.753a1 1 0 0 1 .007-1.922c1.226-.349 2.16-.65 3.003-1.177c-1.199-.636-2.082-1.468-2.707-2.416c-.868-1.318-1.19-2.788-1.254-4.113S3.141 8 3.343 7.115c.115-.505.249-1.011.434-1.495a1 1 0 0 1 .818-.636Z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bxl--instagram {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.999 7.377a4.623 4.623 0 1 0 0 9.248a4.623 4.623 0 0 0 0-9.248m0 7.627a3.004 3.004 0 1 1 0-6.008a3.004 3.004 0 0 1 0 6.008'/%3E%3Ccircle cx='16.806' cy='7.207' r='1.078' fill='%23000'/%3E%3Cpath fill='%23000' d='M20.533 6.111A4.6 4.6 0 0 0 17.9 3.479a6.6 6.6 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.6 6.6 0 0 0-2.184.42a4.6 4.6 0 0 0-2.633 2.632a6.6 6.6 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71s0 2.753.056 3.71c.015.748.156 1.486.419 2.187a4.6 4.6 0 0 0 2.634 2.632a6.6 6.6 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.6 6.6 0 0 0 2.186-.419a4.6 4.6 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186c.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.6 6.6 0 0 0-.421-2.217m-1.218 9.532a5 5 0 0 1-.311 1.688a3 3 0 0 1-1.712 1.711a5 5 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055c-2.438 0-2.687 0-3.655-.055a5 5 0 0 1-1.669-.311a3 3 0 0 1-1.719-1.711a5.1 5.1 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654s0-2.686.053-3.655a5 5 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5 5 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a5 5 0 0 1 1.67.311a3 3 0 0 1 1.712 1.712a5.1 5.1 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655s0 2.698-.043 3.654z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.footer {
  background-color: black;
}

.h-line {
  border-bottom: 2px solid #80808069;
  width: 100%;
  margin: 20px 0;
}

.dark-logo,
.copyright {
  text-align: center;
}

.copyright p {
  font-size: smaller;
  color: grey;
}

.dark-logo img {
  width: 250px;
}

.footerlist ul li {
  list-style-type: none;
  margin-left: 20px;
  color: gray;
  cursor: pointer;
}

.footerlist ul li:hover {
  color: white;
}

.Social-icons span {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.Social-icons span:hover {
  transform: scale(1.3);
  color: white;
}

/* Editor's choice */

.card {
  width: 15rem;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-body img {
  width: 100%;
  height: auto;
  display: block;
}

.editor-choice {
  min-height: 100vh;
}

.Editor-head {
  text-align: center;
}

.Editor-head h1 {
  font-family: "Kaushan Script"
}


.editor-choice {
  padding: 50px 0;
  text-align: center;
}

.editorChoices {
  margin-top: 20px;
}

.card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.card.show {
  opacity: 1;
  transform: translateY(0);
}

/* Article gallery */
.gallery-head h1 {
  font-family: "Kaushan Script";
}

.gallery {
  display: flex;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 350px;
  height: 430px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10px;
}

.overlay h3 {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.explore-btn {
  background: #ff9800;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover h3,
.image-container:hover .explore-btn {
  opacity: 1;
  transform: translateY(0);
}


/* Collage Swiper */
.heading {
  font-family: "Kaushan Script", cursive;
  color: rgb(0, 13, 11);
}

.collage-container {
  position: relative;
  margin: 0px 0 60px 0;
}

.swiper {
  width: 65%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.swiper-slide {
  border-radius: 18px;
}

.swiper-slide img {
  width: 100%;
  border-radius: 18px;
}

.swiper-next,
.swiper-prev {
  color: #000000;
}

/* quizSection */
.quiz-section {
  width: 100%;
  height: 100vh;
}

/* Scrollbar custom */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #000000c7;
}


::-webkit-scrollbar-thumb {
  background: #000000e9;
  height: 50px;
}


::-webkit-scrollbar-thumb:hover {
  background: #284c7b41;
}

/* divider */
.divider {
  width: 80%;
  margin: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.173);
  margin: 0 auto;
  border-radius: 100px;
}


/* Section Background Styles */
.editor-choice {
  background-color: #efefef;
}

.article-section {
  background: #6daad0;
  background: -webkit-linear-gradient(0deg, #1e120d 0%, #6daad0 100%);
  background: linear-gradient(0deg, #efefef 0%, #6daad0 100%);
  color: #d6e5ef;
  padding: 0 8%;
}

.collage-section {
  background-color: #efefef;
}

.foodArticle-section {
  background: #6daad0;
  background: -webkit-linear-gradient(0deg, #6daad0 0%, #1e120d 100%);
  ;
  background: linear-gradient(0deg, #6daad0 0%, #efefef 100%);
  color: #4a7996;
  padding: 0 8%;
}

/* Glassmorphism effect Quiz section */
.quiz-section {
  background-image: url(images/quiz-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  padding: 0 4%;
}

.quiz-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.456);
  backdrop-filter: blur(1px);
  z-index: 0;
}

.quiz-container {
  background: rgba(255, 255, 255, 0.804);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(0, 0, 0, 0.052);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 90%;
  padding: 50px 20px;
}

h4 {
  color: white;
}

/* floating button styles */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 8px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* transition: transform 0.3s ease-in-out, background-color 0.3s; */
  text-decoration: none;
  white-space: nowrap;
  z-index: 3;
}

.floating-button:hover {
  transform: scale(1.1);
  z-index: 3;

}

/* Avatar Styling */
.floating-button img {
  width: 30px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 3;
  object-fit: cover;
}

.hand-wave {
  font-size: 30px;
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: 50% 100%;
  z-index: 3;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Chatbot Modal */
.chatbot-modal {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeInUp 0.3s ease-in-out;
  z-index: 3;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatbot-header {
  background: #0c80c8;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.chatbot-body {
  padding: 15px;
  height: 250px;
  overflow-y: auto;
}

.chatbot-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  gap: 5px;
}

.chatbot-footer input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
}

.chatbot-footer button {
  background: #ff9800;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chatbot-footer button:hover {
  background: #004976;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}


/* Fullscreen Preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

/* Flight Animation */
.flight-container {
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 200px;
  animation: takeOff 3s ease-in-out forwards;
}

.flight-container img {
  width: 100%;
  transform: rotate(15deg);
}

/* Smooth Curved Takeoff Path */
@keyframes takeOff {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }

  /* 50% {
              transform: translate(150px, -150px) rotate(0deg); 
          } */
  100% {
    transform: translate(400px, -500px) rotate(0deg);
    opacity: 0;
  }
}

.Newsletter {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&w=600");
  color: white;
  background-size: contain;
  background-position: center;
}

#inputEmail {
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
}

.Newsletter h1 {
  font-family: "Kaushan Script", cursive;
  color: white;

}

.Newsletter p {
  font-family: "Nunito", sans-serif;

}

.form-check a {
  text-decoration: none;
  color: white;
}